.filters {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
}

@media screen and (min-width: 700px) {
  .filters {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .filters {
    width: 20%;
  }
}
