html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

header {
  line-height: 1;
  border-bottom: 3px solid #e2e2e2;
}

footer {
  line-height: 1;
  border-top: 2px solid #868686;
  padding: 20px 0;
  //margin-top: 200px;
  color: #808080;
  text-align: center;
}

#pokemon-app {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  text-align: left;

  .container {
    margin: 20px 0;
    min-height: 300px;
  }

  .wrapper {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .font--capitalize {
    text-transform: capitalize;
  }

  .font--bold {
    font-weight: bold;
  }

  .input-wrapper {
    position: relative;
  }

  .close {
    position: absolute;
    top: 6px;
    right: 10px;
    background: white;
    cursor: pointer;
  }

  .tag {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: #f3f2f1;
    color: #000;
    border-radius: 3px;
    margin: 2px;
  }

  input,
  button,
  select {
    border: 0;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #c6c6c6;
    background: rgba(255, 255, 255, 0.1);
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    transition: box-shadow 0.1s ease-out;
    &:focus {
      box-shadow: 0px 0px 8px 4px #b4d4fe;
      transition: box-shadow 0.1s ease-in;
    }
  }

  button {
    cursor: pointer;
    &:active {
      border: 1px;
      box-shadow: 1px 1px 1px 2px #b4d4fe;
      transform: scale(0.98);
    }
    &:disabled {
      cursor: no-drop;
    }
  }

  .width-xs {
    width: 8%;
    @media screen and (max-width: 700px) {
      width: auto;
    }
  }
}
